input[type="text"]#spacetwo {
    -webkit-appearance: none !important;
    text-align: right;
    width: 24%;
    border-left: 0px;
    margin: 0 0 0 -7px;
    background: white;
    padding-right: 8px;
}

input[type="text"]#space {
    -webkit-appearance: none !important;
    border-right: 0px;
    width: 76%;
}

#space,
#spacetwo {
    border: honeydew;
    padding: 16px;
    font-size: 16px;
    border-radius: 2px;
    outline: none;
}

.space-wrapper {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    width: 50%
}

.border-shadow,
.search-input {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border: honeydew;
    display: block;
    width: 100%;
    padding: 16px;
    font-size: 16px;
    border-radius: 2px;
    outline: none;
}

.search-input-container {
    position: relative;
}

.autocomplete-dropdown-container {
    border-bottom: honeydew;
    border-left: honeydew;
    border-right: honeydew;
    border-top: 1px solid #e6e6e6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 2px 2px;
    width: 100%;
    position: absolute;
    top: 56px;
}

.suggestion-item {
    background-color: #fff;
    padding: 8px;
    text-align: left;
    cursor: pointer;
}

.suggestion-item--active {
    background-color: #fafafa;
    padding: 8px;
    text-align: left;
    cursor: pointer;
}

.clear-button {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    outline: none;
    font-weight: 600;
    color: #999;
    cursor: pointer;
}

.search-input:not(:valid)~.clear-button {
    display: none;
}

.footer {
    height: 6vh;
}

.footer-div {
    height: 100%;
}

.footer-text {
    text-align: center;
}

.location-info {
    font-size: 2vh;
    font-weight: bold;
}

.search-container {
    height: 40vh;
    margin: 0 auto;
}

.search-bar-container {
    position: relative;
    width: 100%;
}

.title {
    font-size: 2vh;
    font-weight: bold;
}

.create-container {
    height: 80vh;
    margin: 0 auto;
}

.signup-label {
    width: 8vw;
    text-align: center;
}

.become-button {
    
}